{
    "overrides": [
        {
            "files": ["*.*"],
            "options": {
                "printWidth": 100,
                "tabWidth": 4,
                "useTabs": false,
                "singleQuote": false,
                "bracketSpacing": true,
                "explicitTypes": "always",
                "trailingComma": "none",
                "arrowParens": "avoid",
                "semi": true
            }
        }
    ]
}
